/* ? Reset inicial */

body {

    padding-bottom: 600px;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor-11);
    overflow-x: hidden;
    
}

img {

    max-width: 100%;
    display: block;

}

img[src$=".jpg"] {

    border-radius: 4px;

}

a {

    text-decoration: none;
    color: inherit;

}

ul {

    padding: 0px;
    list-style-type: none;

}

h1, h2, h3, h4, ul, blockquote, p {

    margin: 0px;

}

::-webkit-scrollbar {

    background: transparent;
    width: 8px;
    height: 10px;

}

::-webkit-scrollbar-thumb {

    background-color: var(--cor-6);
    border-radius: 20px;


}